<% provide(:title,"Artist Signup") %>
<div class="container">
<h1 class="text-center"> Artist Sign up </h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@artist) do |f| %>
      <%= render 'shared/error_messages' %>
        <%= f.label :name, "Artist Name"%>
        <%= f.text_field :name, autofocus:"1" %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Create my account", class: "btn btn-large btn-primary btn-signup" %>
      <% end %>
      <p>Already have an account? <%= link_to('Sign in!',artist_login_path) %></p>
    </div>
  </div>
</div>

